.wrap {
  border: 1.6px solid lightgrey;
  border-radius: 0.4em;
  margin: 3em auto;
  max-width: 35em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.display {
  border: 1.6px solid lightgrey;
  border-radius: 0.2em;
  height: 68px;
  padding-right: 6px;
  width: 14.3em;
  margin-top: 1em;
  margin-bottom: 15px;
  font-size: 2em;
}
.btn {
  background-color: transparent;
  border: 1.6px solid lightgrey;
  border-radius: 0.2em;
  text-align: left;
  width: 2.5em;
  height: 2em;
  font-size: 35px;
  margin-right: 7px;
  margin-left: 1px;
  cursor: pointer;
  padding-right: 2.4em;
  padding-left: 20px;
}

@media (max-width: 600px) {
  /* Styles for screens with a maximum width of 600px */
  .btn {
    width: 2em;
    font-size: 25px;
    padding-right: 1.2em;
    padding-left: 10px;
  }
  .wrap {
    margin: 2em auto;
    padding: 0.8em;
    max-width: 25em;
  }
  .display {
    width: 10em;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 10px;
  }
}

@media (max-width: 300px) {
  /* Styles for screens with a maximum width of 300px */
  .btn {
    width: 1.5em;
    font-size: 20px;
    padding-right: 0.6em;
    padding-left: 5px;
  }

  .wrap {
    margin: 1.5em auto;
    padding: 0.6em;
    max-width: 15em;
  }
  .display {
    width: 8em;
    font-size: 1.2em;
    margin-top: 0.3em;
    margin-bottom: 5px;
  }
}
hr {
  border: 2px solid lightgray;
  margin-top: 50px;
  margin-bottom: 3em;
  border-radius: 2em;
}
